@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1, p, span{
    font-family: 'Ubuntu', sans-serif; 
}

@media (max-width: 767px){
    h1 {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
}
@media (min-width: 767px){
    h1 {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1000px) / 1280));
    }
}

@media (max-width: 767px){
    p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 500px) / 1280));
    }
}
@media (min-width: 320px){
    p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 800px) / 1280));
    }
}
@media (min-width: 768px){
    p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1300px) / 1280));
    }
}
@media (min-width: 800px){
    p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1400px) / 1280));
    }
}
@media (min-width: 1000px){
    header p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1600px) / 1280));
    }
    p {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1400px) / 1280));
       }
}
@media (min-width: 1200px){
    header p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1800px) / 1280));
    }
    p {
        font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1400px) / 1280));
       }
}
@media (min-width: 2400px){
    p {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 1500px) / 1280));
    }
}


.nav-item{
    background-color: #E69F4F;
    
}


table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #E69F4F;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #E69F4F;
    color: white;
}
