<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="resources/css/adminTable.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #E69F4F;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <h1 class="fs-5 d-none d-sm-inline">Личный кабинет</h1>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/adminPanel" class="nav-link align-middle px-0 text-white text-decoration-none">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">На главную</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="resources/imgs/user.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">admin</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <table>
                    <tr>
                        <th>Время</th>
                        <th>Понедельник</th>
                        <th>Вторник</th>
                        <th>Среда</th>
                        <th>Четверг</th>
                        <th>Пятница</th>
                    </tr>
                    <tr>
                        <td>08:00 - 09:00</td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>09:00 - 10:00</td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>10:00 - 11:00</td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>11:00 - 12:00</td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>12:00 - 13:00</td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                        <td><select>
                            <option th:each="teacher : ${teachers}"><span th:text="${teacher.toString}"></span></option>
                        </select></td>
                    </tr>

                </table>
                <button type="submit">
                    Сохранить
                </button>
            </div>
        </div>
    </div>