<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/registration.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Вход</span>
            <form th:action="@{/admin}" th:method="POST" th:object="${person}">
                <div class="input-field">
                    <input type="text" name="email" placeholder="Введите ваш email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" name="password" class="password" placeholder="Введите ваш пароль" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>


                <div class="input-field button">
                    <input type="submit" value="Вход">
                </div>
            </form>
        </div>
    </div>
</div>