<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/main.css">
    <title>Главная страница</title>
</head>
<body>
    
   <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 d-flex justify-content-center" id="header">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-2  d-flex justify-content-center">
                        <h1>SoundSpace</h1>
                    </div>
                    <div class="col-md-2  d-flex justify-content-center">
                        <p><a href="">о нас</a></p>
                    </div>
                    <div class="col-md-2  d-flex justify-content-center">
                        <p><a href="">новости</a></p>
                    </div>
                    <div class="col-md-2  d-flex justify-content-center">
                        <p><a href="">главная</a></p>
                    </div>
                    <div th:if="${auth} == true" class="col-md-2  d-flex justify-content-center">
                        <p><a href="/profile">личный кабинет</a></p>
                    </div>
                        <div th:unless="${auth} == true" class="col-md-2  d-flex justify-content-center">
                            <p><a href="/registration">личный кабинет</a></p>
                        </div>
                    <div class="col-md-2  d-flex justify-content-center">
                        <p>+7 (343) 301-91-29</p>
                    </div>
                </div>     
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
   </header>
   <main>
    <div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="margin-top: 10%;">
                        <h1>Детская школа искусств</h1>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center" style="text-align: center; ">
                        <p>образовательное учреждение, которое предоставляет возможность получения знаний и навыков в области искусств</p>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <form action="#">
                            <button class="button">Начать!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="resources/imgs/girl.png" alt="" class="myImg" id="responsive-image">
            </div>
        </div>
    </div>
   </div>

   <div class="bg2" style="margin-top: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center" style="background-color: #F1D99A; margin-left: 5%;">
                <img src="resources/imgs/boy.png" alt="" class="myImg2" id="responsive-image">
            </div>
            <div class="col-md-6 d-flex justify-content-end" id="text">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="margin-top: 10%;">
                        <h1>О нас</h1>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center" style="text-align: center; ">
                        <p>Мы компания SoundSpace. И мы помогаем детям получать знания с комфортом!  Ученики могут изучать различные направления искусства, такие как пение, игра на разнообразных инструментах и многое другое. Мы предоставляем расписание учебных занятий, показатель успеваемости ребенка, так же дневник и журнал.  Мы предоставляем возможность учиться в любое время и в любом месте.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>

   <div class="bg3" style="margin-top: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-end">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="margin-top: 10%;">
                        <h1>О школе</h1>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center" style="text-align: center; ">
                        <p>Наша миссия — обеспечить доступное и действительно качественное образование . Персонализация образования — будущее, которое наступило уже сегодня. Мы создаем самую большую онлайн-школу, собравшую в себя опыт лучших специалистов и самые современные технологии. Каждый человек имеет право на образование, поэтому мы делаем все возможное, чтобы помочь каждому ребенку получить необходимые знания для достойного будущего.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center" style="background-color: #E69F4F; margin-left: 10%;">
                <img src="resources/imgs/girl2.png" alt="" class="myImg2" id="responsive-image">
            </div>
        </div>
    </div>
   </div>

   <div class="bg4" style="margin-top: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center" style="background-color: #F1D99A; margin-left: 5%;">
                <img src="img/boy2.png" alt="" class="myImg2" id="responsive-image">
            </div>
            <div class="col-md-6 d-flex justify-content-end" id="text">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="margin-top: 10%;">
                        <h1>Почему именно мы?</h1>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center" style="text-align: center; ">
                        <p>Мы предлагаем обучение на высоком уровне, удобный формат занятий и доступность для всех. Наша школа отличается тем, что мы уделяем особое внимание индивидуальному подходу к каждому ученику. Мы стремимся помочь каждому развить свой музыкальный талант и достичь желаемых результатов в музыке.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</main>
   
   <footer>
    <div class="container-fluid" style="margin-top: 5%; background-color: #E69F4F;">
        <div class="row">
            <div class="col-md-2 d-flex justify-content-center"></div>
            <div class="col-md-3 d-flex justify-content-center">
                © ОНЛАЙН-ШКОЛА SoundSpace 2023. <br> Все права защищены.
            </div>
        </div>
    </div>
   </footer>
   
</body>
</html>