<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/registration}" th:method="POST" th:object="${person}">
    <input type="text" name="name">
    <label>ФИО</label>
    <br>
    <input type="text" name="email">
    <label>Почта</label>
    <br>
    <input type="password" name="password">
    <label>Пароль</label>
    <br>
    <input type="password" name="confrimPassword">
    <label>Подтвердите пароль</label>
    <br>
    <select name="naprav">
        <option value="Баян">Баян<option>
        <option value="Пианино">Пианино<option>
        <option value="Гитара">Гитара<option>
    </select>
    <label>Направление</label>
    <br>
    <input type="radio" name="typeProfile" value="student">
    <label>Ученик</label>
    <input type="radio" name="typeProfile" value="parrent">
    <label>Родитель</label>
    <br>
    <button type="submit">Отправить</button>
</form>
</body>
</html>