<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="htttp://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="resources/css/UserLkNews.css">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #E69F4F;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <h1 class="fs-5 d-none d-sm-inline">Личный кабинет</h1>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0 text-white text-decoration-none">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">На главную</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link align-middle px-0 text-white text-decoration-none">
                                <i class="fs-4 bi-book"></i> <span class="ms-1 d-none d-sm-inline">Новости и объявления</span>
                            </a>
                        </li>
                        <li>
                            <a href="/schedule" class="nav-link px-0 align-middle text-white text-decoration-none">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Расписание</span></a>
                        </li>
                        <li>
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white text-decoration-none">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Электронный дневник</span> </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="resources/imgs/user.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span th:text="${name}" class="d-none d-sm-inline mx-1">имя фамилия</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col py-3">
            <div class="container-fluid"> 
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center" style="margin-top: 5%;">
                        <h1>Уведомления</h1>
                    </div>
                    <div class="scroll" style="overflow-y:scroll; height: 300px; .example::-webkit-scrollbar { display: none; }">
                        <div class="col-md-12 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-top: 10%;">
                                <h4>Уведомление от Васи Пупкина</h4>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>




        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 5%;">
                    <h1>Новости</h1>
                </div>
                <div class="scroll" style="overflow-y:scroll; height: 350px;">
                    <div class="col-md-12 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-bottom: 5%;">
                            <h4 style="text-align: center; line-height: 1.3em;"><b>Дорогие ребята!</b> <br>
                                Приглашаем на четвертую встречу клуба "Терапевтические сказки". 
                                Эта встреча для тех, кто хочет научиться не волноваться понапрасну, найти новых друзей и провести время в приятной компании.
                                21 ноября в 17:55 ждем вас в Малом зале нашей школы с кружкой чая (возьмите что-нибудь к чаепитию с собой).
                                Встречу проведёт Кирпичёва Мария Витальевна.
                                ВАЖНО: Возраст слушателей: 11-13 лет
                                КОЛИЧЕСТВО МЕСТ СИЛЬНО ОГРАНИЧЕНО. УСПЕВАЙТЕ!
                                </h4>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 align-items-center" style="border-radius: 20px; background-color: #F1D99A; margin-bottom: 5%;">
                            <h4 style="text-align: center; line-height: 1.3em;"><b>Дорогие ребята!</b> 
                                <br>Приглашаем на четвертую встречу клуба "Терапевтические сказки". 
                                Эта встреча для тех, кто хочет научиться не волноваться понапрасну, найти новых друзей и провести время в приятной компании.
                                21 ноября в 17:55 ждем вас в Малом зале нашей школы с кружкой чая (возьмите что-нибудь к чаепитию с собой).
                                Встречу проведёт Кирпичёва Мария Витальевна.
                                ВАЖНО: Возраст слушателей: 11-13 лет
                                КОЛИЧЕСТВО МЕСТ СИЛЬНО ОГРАНИЧЕНО. УСПЕВАЙТЕ!
                                </h4>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>

            </div>
        </div>
    </div>
</body>
</html>